.user-table-container {
  max-width: 100vh;
  margin: 4vh auto;
  font-family: Arial, sans-serif;
  text-align: center;
}

.user-table-container h2 {
  margin-bottom: 2vh;
  color: #333;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 2vh;
}

.user-table th {
  background: #007bff;
  color: white;
}

.user-table tbody tr:nth-child(even) {
  background: #f2f2f2;
}

.user-table tbody tr:hover {
  background: #ddd;
}
.edit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 1vh 1vh;
  border-radius: 0.5vh;
  cursor: pointer;
  display: flex;
  margin-left: 4vh;
  align-items: center;
  font-size: 3vh;
  transition: background 0.3s ease;
}

.edit-button i, .edit-button .material-icons {
  font-size: 3vh;
}

.edit-button:hover {
  background-color: #0056b3;
}
